
@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Index</h2>

<h5 class="text-info">@ViewBag.Message</h5>
<br />
<br />

@foreach (Tango.Models.Post post in ViewBag.Posts)
{
    @Html.Partial("ShowPost", post);

    <a href="/Posts/Show/@post.PostId" class="btn btn-success">Vizualizare postare</a>
}



<a href="/Posts/New" class="btn btn-success">Adauga postare</a>