
@{
    ViewBag.Title = "Mesagerie";
}

<h2>Mesagerie</h2>

@foreach (var groupmember in ViewBag.Conversations)
{

    <div class="tangoo-card">
        <div class="tangoo-card-body">
            <a href="/Profile/Show/@groupmember.User.ProfileId" class="btn-link">@groupmember.User.UserName</a>
            <br />
            <br />
            @Html.ActionLink("Trimite-i mesaj", "ShowPrivateConv", new { id = groupmember.GroupMemberId }, new { @class = "btn-orange" })
        </div>
    </div>
}
