
@{
    ViewBag.Title = "Mesagerie";
}

<h2>Mesagerie</h2>

@foreach (var groupmember in ViewBag.Conversations)
{

    <div class="tangoo-card">
        <div class="tangoo-card-body">
            <h5 class="tangoo-card-title">@groupmember.User.Email</h5>
            <br />
            @Html.ActionLink("Trimite-i mesaj", "ShowPrivateConv", new { id = groupmember.GroupMemberId }, new { @class = "btn-orange" })
        </div>
    </div>
}
