@{
    /**/

    ViewBag.Title = "Grupuri";
}

<h2>Groups</h2>
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}
@foreach (var grup in ViewBag.Groups)
{
    <a href="/Groups/Show/@grup.GroupId"><h3>@grup.GroupName</h3></a>
    <p>@grup.Description</p>
    <small>@grup.CreationTime</small>

}
<br />
<hr />
<a href="/Groups/New/" class="btn btn-orange">Create a group</a>