
@{
    /**/

    ViewBag.Title = "Grupuri";
}

<h2>Grupuri</h2>
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}
@foreach (var grup in ViewBag.Groups)
{
    <h3>@grup.GroupName</h3>
    <p>@grup.Description</p>
    <small>@grup.CreationTime</small>
    <a href="/Groups/Show/@grup.GroupId" class="btn btn-success">Vizualizare grup</a>
     <form method="post" action="/GroupMembers/JoinRequest/@grup.GroupId">
         <button type="submit" class="btn btn-success">Inscrie-te!</button>
     </form>
}
<a href="/Groups/New/" class="btn btn-success">Adauga grup</a>