
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}

    <div class="list-group">
        <h4>Your Friends</h4>
        @if (ViewBag.Friends == null)
        {
            <p >Niciun utilizator pe lista.</p>
        }
        else
        {
            foreach (var user in ViewBag.Friends)
            {

                <li class="user-list-tangoo">
                    <span>@user.Email</span>
                    <a class="btn btn-primary" href="/Profile/Show/@user.ProfileId">Vezi profilul</a>
                </li>
            }
        }
    </div>
   
   <div class="list-group">
       <h4>  Blocked users</h4>
          
     @if (ViewBag.BlockedUsers == null)
     {
         <p >Niciun utilizator pe lista.</p>
     }
     else
     {
         foreach (var user in ViewBag.BlockedUsers)
         {

       <li class="user-list-tangoo">
           <span>@user.Email</span>
           <a class="btn btn-primary" href="/Profile/Show/@user.ProfileId">Vezi profilul</a>

       </li>

         }
     }
   </div>
   <div class="list-group ">
      <h4>Tango with other users</h4>
       @foreach (var user in ViewBag.Users)
       {
       <li class="user-list-tangoo">
           <span>@user.Email</span>
           <a  class="btn btn-primary" href="/Profile/Show/@user.ProfileId">Vezi profilul</a>

       </li>
       }
 </div>