
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}

    <div class="list-group">
        <a href="#" class="list-group-item disabled">
            Your friends
        </a>
        @foreach (var user in ViewBag.Friends)
        {
     
            <div class="list-group-item">
            <a href="/Profile/Show/@user.ProfileId" class="list-group-item-heading">@user.Email</a>
             </div>
        }
    </div>
   <br/>
   <div class="list-group">
       <a href="#" class="list-group-item disabled">
           Blocked users
       </a>
       @foreach (var user in ViewBag.BlockedUsers)
       {
      
           <div class="list-group-item">
                <a href="/Profile/Show/@user.ProfileId" class="list-group-item-heading">@user.Email</a>
          </div>
              
       }
   </div>
   <div class="list-group">
       <a href="#" class="list-group-item disabled">
           Tango with other users
       </a>
       @foreach (var user in ViewBag.Users)
       {

          <a href="/Profile/Show/@user.ProfileId" class="list-group-item-heading">@user.Email</a>

       }
   </div>