@model TangoApp.Models.Post


@{
    /**/

    ViewBag.Title = "Show";
}


@Html.Partial("Search")
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}
<a class="btn btn-info" href="/Posts/Index">Postari</a>

@foreach (TangoApp.Models.Profile profile in ViewBag.Profiles)
{
    @Html.Partial("ShowProfile", profile);
    <br />
    <hr />
    <br />
}


<br />

<a class="btn btn-info" href="/Posts/Index">Inapoi la pagina principala</a>
