@if (Model.User != null && Model.User.UserName!=null)
{
    <h2>@Model.User.UserName </h2>
    if (Model.ProfileVisibility != false)
    {
        <a href="/Profile/Show/@Model.ProfileId" class="d-inline btn btn-info float-left position-relative">Show profile</a>
    }
    if (Model.Country != null)
    {
        <p>@Model.Country.CountryName</p>
    }
    if (Model.City != null)
    {
        <p>@Model.City.CityName</p>
    }
}
