@model TangoApp.Models.Profile
@{
    ViewBag.Title = "Show";
}

<h2>Your profile</h2>
<br />

<a href="/Posts/Edit" class="btn btn-success">Editeaza profilul</a>
<br />
<p>
        Vizibilitatea profilului: @Model.ProfileVisibility </p>

