@model TangoApp.Models.Profile
@{
    ViewBag.Title = "Show";
}

<h2>Your profile</h2>
<br />

@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}

<a href="/Profile/Edit" class="btn btn-success">Editeaza profilul</a>
<br />
<p>
    Vizibilitatea profilului: @Model.ProfileVisibility
</p>

