
@{
    ViewBag.Title = "Index";
}

<h2>Notifications</h2>
@foreach (var notification in ViewBag.Notifications)
{
    <div class="card">
        <div class="card-body text-decoration-none d-block text-dark">
            <small class="pull-right">@notification.Time</small>
            <br />
            @if (notification.Type == TangoApp.Models.NotificationFlag.DeletedPost)
            {
                <p class="text-dark">
                    Am sters una din postarile tale deoarece incalca regulile comunitatii!
                </p>
            }
            else if (notification.Type == TangoApp.Models.NotificationFlag.DeletedComment)
            {
                <p class="text-dark">
                    Am sters un comentariu la o postare deoarece incalca regulile comunitatii.
                    <a class="btn bg-primary" href="/Posts/Show/@notification.PostId">Vezi postarea</a>
                </p>
            }
            else if (notification.Type == TangoApp.Models.NotificationFlag.NewComment)
            {
                <p class="text-dark">
                    <span>@notification.Comment.User.Email</span> a adaugat un nou comentariu la postarea ta.
                    <a class="btn bg-primary" href="/Posts/Show/@notification.PostId">Vezi postarea</a>
                </p>

            }
            else if (notification.Type == TangoApp.Models.NotificationFlag.DeletedMedia)
            {
                <p class="text-dark">
                    Am sters o poza atasata unei postari deoarece incalca regulile comunitatii.
                    <a class="btn bg-primary" href="/Posts/Show/@notification.PostId">Vezi postarea</a>
                </p>

            }
            else if (notification.Type == TangoApp.Models.NotificationFlag.NewPost)
            {

                <p class="text-dark">
                    <span>@notification.Comment.User.Email</span> a adaugat o noua postare.
                    <a class="btn bg-primary" href="/Posts/Show/@notification.PostId">Vezi postarea</a>
                </p>
            }
            else if (notification.Type == TangoApp.Models.NotificationFlag.JoinRequest)
            {

                <p class="text-dark">
                    <span>@notification.UserSend.Email</span> vrea sa se alature grupului tau.
                    <a class="btn bg-primary" href="/Groups/Show/@notification.GroupId">Vezi grupul</a>
                </p>
            }
        </div>
    </div>
    <hr/>

}
