
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Members</h3>
 @foreach (var user in ViewBag.UsersInGroup)
    {
<div class="list-group-item">
    <a href="#">@user.Email</a>
    <!--<form method="post" action="/Users/Unblock">
        Html.HttpMethodOverride(HttpVerbs.Delete)
        <input type="hidden" name="UserId" value="user.Id" />
        <button type="submit">Unblock</button>
    </form>-->
</div>
    }
<br/>
<hr/>
<br/>
@if (ViewBag.afisarebutoane == true)
{<h3>Pending</h3>
    foreach (var user in ViewBag.UsersPending)
    {
        <div class="list-group-item">
            <a href="#">@user.Email</a>
            <!--<form method="post" action="/Users/Unblock">
                Html.HttpMethodOverride(HttpVerbs.Delete)
                <input type="hidden" name="UserId" value="user.Id" />
                <button type="submit">Unblock</button>
            </form>-->
        </div>
    }
}