
@{
    /**/

    /**/

    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}
<br />
<br />

@foreach (TangoApp.Models.Post post in ViewBag.Posts)
{
    @Html.Partial("ShowPost", post);

    <a href="/Posts/Show/@post.PostId" class="btn btn-success">Vizualizare postare</a>
    <br />
    <hr />
    <br/>
}



<a href="/Posts/New" class="btn btn-success">Adauga postare</a>