@model TangoApp.Models.Post
@{
    ViewBag.Title = "New";
}

<h2>Adaugare postare</h2>
<h3>@ViewBag.Error</h3>
<!--for a succesful upload, we need to add enctype = "multipart/form-data"; otherwise the browser will transmit only
    the name of the file-->

<!--<form enctype="multipart/form-data" action="/Posts/New" method="post">

    <input type="file" name="uploadedFile" />
    <br />
    <input type="submit" class="btn btn-success" value="Add" />
</form>-->

@using (Html.BeginForm("New", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Text", "Continutul textului")
    <br />
    @Html.TextArea("Text", null, new { @class = "form-control" })
    @Html.ValidationMessage("Text", null, new { @class = "text-danger" })
    <br />
    <label>Alegeti un fisier</label>
    <input type="file" name="uploadedMedia" />
    <br />
    <input type="submit" value="Upload" />
}
