@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var req in ViewBag.Friendrequests)
{
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title"> @req.User1.Email</h5>
            <p class="card-text">Looks like someone wants to be your friend...</p>
            <a href="/Friendships/Accept/friendreq.FriendshipId" class="btn btn-primary">Accept</a>
            <a href="/Friendships/Decline/friendreq.FriendshipId" class="btn btn-primary">Decline</a>
        </div>
    </div>
    <br />

}
 