@{
    ViewBag.Title = "Index";
}

<h2>Friend requests</h2>
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.Message</h3>
}
@foreach (var req in ViewBag.Friendrequests)
{
    <div class="w-75 tangoo-card">
        <div class="card-body tangoo-card-body">
            <a href="/Profile/Show/@req.User1.ProfileId">@req.User1.UserName</a>
            <br />
            <br />
            <div class="friend-req-item">
                <a href="/Friendships/Accept/@req.FriendshipId" class="btn btn-orange" style="margin-right: 10px; ">Accept</a>
                @using (Html.BeginForm(actionName: "Decline", controllerName: "Friendships", method: FormMethod.Post, routeValues: new { id = req.FriendshipId }))
                {

                    @Html.HttpMethodOverride(HttpVerbs.Put)
                    <button type="submit" class="btn btn-orange">Decline</button>
                }
            </div>
        </div>
    </div>
    <br />

}
